@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&family=Roboto+Serif:opsz,wght@8..144,800&family=Trocchi&display=swap");

/* Font Family */
:root {
  --ff-Crimson: "Crimson Text", serif;
  --ff-Roboto-Serif: "Roboto Serif", serif;
  --ff-Trocchi: "Trocchi", serif;
}
*,
* > * {
  box-sizing: border-box;
  /* outline: 2px solid pink; */
}

body {
  margin: 0;
  padding: 1rem;
  max-width: 100vw;
  font-family: var(--ff-Crimson);
  font-size: 1.2rem;
  background: url(./images/bg-pattern-top.svg), hsl(185, 75%, 39%);
  background-repeat: no-repeat;
  color: #ebfbe9;
}

.whole {
  max-width: 600px;
  margin: 0 auto;
}

main {
  margin-bottom: 1rem;
}

h1 {
  font-family: var(--ff-Roboto-Serif);
  font-size: 2.8em;
  font-weight: 800;
  text-align: center;
}

img {
  max-width: 100%;
  display: block;
  border-radius: 50%;
  margin-bottom: 1em;
}
img:hover {
  -moz-box-shadow: 0px 8px 24px hsl(185deg 74% 27%);
  transform: scale(1.05);
  -webkit-box-shadow: 0px 8px 24px hsl(185deg 74% 27%);
  box-shadow: 0px 8px 24px hsl(185deg 74% 27%);
}

figcaption {
  font-size: 1.6em;
  text-align: center;
  font-family: var(--ff-Roboto-Serif);
}

p {
  font-size: 1.4em;
  line-height: 1.5;
}

p > a {
  color: inherit;
}
p::first-letter {
  font-size: 2.2em;
  font-weight: bold;
  color: aquamarine;
  padding: 0.5em 0.1em 0 0;
  vertical-align: 5%;
}
/* styling the attribution */
footer {
  padding: 1em;
  text-align: center;
  font-style: italic;
}
